<title>城市天气</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src=src/networkRequest.js></script>
<script src=src/cities.js></script>
<span style=float:right;max-width:100%>
  <select class="OperationArea-select" onclick="
        if(Date.now()-lastChangeTime<=10){
        result=document.getElementById('result');
        result.innerHTML='';result.nextElementSibling.className='sizeNormal';
        lastEditIsTextInput=true;
        populateWeather(citiesOfProvince[0][0])
        }"
      onchange="onOperationAreaChange(this.value);if(lastEditIsTextInput)lastEditIsTextInput=false">
    <option hidden disabled selected value="">省</option>
  </select><!--

  --><select style=display:none
    class="basemap-select"
    :required="true"
    onchange="onBaseMapChange();if(lastEditIsTextInput)lastEditIsTextInput=false" onclick="
        if(Date.now()-lastChangeTime<=10){
          result=document.getElementById('result');
          result.innerHTML='';result.nextElementSibling.className='sizeNormal';
          lastEditIsTextInput=true;
          populateWeather(citiesOfProvince[targetPrefectureNumber][0])
        }"
  >
    <option disabled selected>{{ map.selectBasemap }}</option>
    <option v-for="(bm, name) in basemapList" :key="name" :value="bm" :selected="map.selectBasemap === bm">
      {{ bm }}
    </option>
  </select><!--

  --><select style=display:none
    class="config-select"
    :required="true"
    onchange="textInput.nextElementSibling.style.display='none';textInput.value=this.value;lastChangeTime=Date.now()" onclick="if(Date.now()-lastChangeTime<=10){onConfigChange()}"
  >
    <option disabled selected>{{ map.selectConfig }}</option>
    <option v-for="(config, name) in configList" :key="name" :value="config" :selected="map.selectConfig === config">
      {{ config }}
    </option>
  </select><!--
--><input id=submit onClick=onSubmit() type=submit title=提交查询内容 /><span style=font-size:smaller;color:white>
                      显示天气为<input type="radio" id="symbol" name="weatherIconStyle" value="symbol" onchange="alert('要更改，请刷新网页！')"><label for="symbol">符号</label><input type="radio" id="pic" name="weatherIconStyle" value="pic" onchange="if(!weatherIconStylePicture){weatherIconStylePicture=true;if(window.apiPlace!==undefined){swapImages(apiPlace)}}"><label for="pic">图片</label></span></span>
<span style=display:block;overflow:hidden;position:relative>
  <input id=text style=width:100% placeholder=城市名／拼音／简拼／区划代码／区号／邮编／车牌／站号
      oninput="this.nextElementSibling.style.display='none';if(!lastEditIsTextInput){lastEditIsTextInput=true}">
  <span style=position:absolute;display:none;background:lightgrey;border-radius:2px></span>
</span>
<span id=result style=color:white></span>
<div style="display:grid;grid-template-columns:50% 50%;width:100%" class=sizeNormal>
  <div id=api><!--style=white-space:pre--></div>
  <div id=nmc><iframe id=nmcarea style=display:none></iframe></div>
</div>
<style>
.sizeNormal{min-height: calc(100vh - 20px - 1lh);}
.sizeSmaller{min-height: calc(100vh - 20px - 2lh);}
</style>
<script>
pZhToEn={
京:"BJ",黑:"HL",吉:"JL",辽:"LN",津:"TJ",蒙:"NM",新:"XJ",宁:"NX",青:"QH",甘:"GS",陕:"SN",藏:"XZ",川:"SC",渝:"CQ",贵:"GZ",云:"YN",晋:"SX",
冀:"HE",鲁:"SD",豫:"HA",皖:"AH",苏:"JS",沪:"SH",鄂:"HB",湘:"HN",赣:"JX",浙:"ZJ",闽:"FJ",台:"TW",桂:"GX",琼:"HI",粤:"GD",港:"XG",澳:"AM",
}
</script>
<script>
lastEditIsTextInput=true
lastChangeTime=Date.now()
function onSubmit(){
  if(!lastEditIsTextInput&&(citySel.value||citySel.options.length===0)){
    textInput.nextElementSibling.style.display='none';
    textInput.value=citySel.value===''?prefectureSel.value===''?citiesOfProvince[prefectureSel.options.length===0?0:prefectureSel.selectedIndex][citySel.options.length===0?0:citySel.selectedIndex].市:prefectureSel.value:citySel.value
    changeConfig()
    return
  }
  provinceSel.selectedIndex=0;
  onOperationAreaChange('')
  findCity()
}
citiesGroupByProvince={}
provinceSelection=undefined
citiesOfProvince=[]
function getElement(name){return document.getElementsByClassName(name)[0]}
let provinceSel=getElement('OperationArea-select')
prefectureSel=getElement('basemap-select')
citySel=getElement('config-select')
for (const [zh, en] of Object.entries(pZhToEn)) {
  province=document.createElement('option');
  province.innerHTML=zh
  province.value=en
  provinceSel.add(province)
}
    function onOperationAreaChange(provinceVal) {
      if(provinceVal.length!==2){
        provinceSelection=undefined
        citiesOfProvince=[]
        prefectureSel.innerHTML=''
        prefectureSel.style.display='none'
        citySel.innerHTML=''
        citySel.style.display='none'
        return
      }
      provinceSelection=provinceVal

      changeOperationArea();
    }
    function changeOperationArea(/*this: any, maintain: boolean = false*/) {
      if(!(citiesOfProvince=citiesGroupByProvince[provinceSelection])){
      citiesOfProvince=citiesGroupByProvince[provinceSelection]=[]
      let currSearchingPrefectureCode,currPrefectureGroup
      for(let i=0;i<cityIds.length;i++){
        c=cityIds[i];
        if(c.省!==provinceSelection){
          if(citiesOfProvince.length===0){
            continue
          }else{
            break
          }
        }else{
          prefectureCode=c.区划?.substr(0,4)
          if(prefectureCode&&(prefectureCode!==currSearchingPrefectureCode||prefectureCode[2]==='9')
              ||c.省==='BJ'||c.省==='TJ'||c.省==='SH'||c.省==='CQ'
              ||!prefectureCode&&c.市!=='松岭区'&&c.市!=='呼中区'&&c.市!=='新林区'){
            currPrefectureGroup=[]
            citiesOfProvince.push(currPrefectureGroup)
            currSearchingPrefectureCode=prefectureCode
            if(c.市==='加格达奇区'){currSearchingPrefectureCode='2327'}
          }
          currPrefectureGroup.push(c)
        }
      }
      }
      prefectureSel.innerHTML=''
      if(citiesOfProvince.length>1||citiesOfProvince[0].length>1){
        prefectureSel.style.display='inline-block'
        for(let prefectureGroup of citiesOfProvince.values()){
          prefecture=document.createElement('option');
          prefecture.innerHTML=prefecture.value=prefectureGroup[0].市
          prefectureSel.add(prefecture)
        }
      }else{
        prefectureSel.style.display='none'
        textInput.nextElementSibling.style.display='none';
        textInput.value=citiesOfProvince[0][0].市;
        lastChangeTime=Date.now();
      }
      onBaseMapChange(-1);
    }

    // GETs a specific basemap from the basemap-api microservice, and emits an event that returns the basemap data.
    function onBaseMapChange(prefectureNumber) {
      changeBasemap(prefectureNumber);
    }

    function changeBasemap(originalTargetNumber) {
      targetPrefectureNumber=prefectureSel.selectedIndex;
      citySel.innerHTML=''
      if(citiesOfProvince[targetPrefectureNumber]?.length>1){
        citySel.style.display='inline-block'
        for(let cityInfo of citiesOfProvince[targetPrefectureNumber]){
          let city=document.createElement('option');
          city.innerHTML=city.value=cityInfo.市
          citySel.add(city)
        }
      }else{
        citySel.style.display='none'
        if(!originalTargetNumber){
          textInput.nextElementSibling.style.display='none';
          textInput.value=citiesOfProvince[targetPrefectureNumber][0].市;
          lastChangeTime=Date.now()
        }
      }
    }
    // Retrieves an OAC map when a new option is selected from the configuration dropdown.
    function onConfigChange() {
      changeConfig();
    }

    function changeConfig() {
      result=document.getElementById('result');
      result.innerHTML='';result.nextElementSibling.className='sizeNormal';
      lastEditIsTextInput=true;
      populateWeather(citiesOfProvince[prefectureSel.options.length===0?0:prefectureSel.selectedIndex][citySel.options.length===0?0:citySel.selectedIndex])
    }
</script>
<script>
textInput=document.getElementById('text');
submit=document.getElementById('submit');
textInput.addEventListener("keyup",event=>{if(event.keyCode==13)submit.click()});
textInput.addEventListener('focus',e=>textInput.select())
currentCity=undefined;
const localStorageKey='USTCWeather'
</script>
<script>
function imgSrc(description){
  return description.startsWith('http')?description:`images/grape/${description}.png`
}
function weatherContent(data,currTime,nightForecast=false){
  hr=(currTime.getUTCHours()+8)%24;
  today=hr<8?new Date(currTime-(-8*3600000)).getUTCDate():currTime.getUTCDate();
  let firstDayText;
  if(data.data[0].day){firstDayText=data.data[0].day.replace('（','').replace('）','');}
  else if(data.data[0].date){let firstDayDate= new Date(data.data[0].date);firstDayText=firstDayDate.toLocaleString('zh-cn',{day:'2-digit',timeZone:'Etc/GMT-8'})+firstDayDate.toLocaleString('zh-cn',{weekday:'long',timeZone:'Etc/GMT-8'});}
  firstDay=parseInt(firstDayText.substr(0,2));
  nightForecast=nightForecast||data.data[0].hours[0].hours.startsWith('20')
  if(nightForecast&&hr<12){
    yesterday=new Date(currTime-86400000);
    browser=navigator.userAgent.toLowerCase();
    firstDayText=!browser.includes('chrome')&&!browser.includes('edg')&&browser.includes('safari')?
      `${yesterday.toLocaleDateString('zh-cn',{day:'2-digit',timeZone:'Etc/GMT-8'})}${yesterday.toLocaleDateString('zh-cn',{weekday:'long',timeZone:'Etc/GMT-8'})}`
    :
      firstDayText=yesterday.toLocaleDateString('zh-cn',{day:'2-digit',timeZone:'Etc/GMT-8'})+yesterday.toLocaleDateString('zh-cn',{weekday:'long',timeZone:'Etc/GMT-8'})

    firstDay=parseInt(firstDayText.substr(0,2));
    if(data.data[0].day&&data.data[0].day.substr(0,2)!=firstDay){
     for(let dayIndex=data.data.length-1;dayIndex>0;dayIndex--){
      data.data[dayIndex].day=data.data[dayIndex-1].day;
     }
    }
    if(data.data[0].date&&data.data[0].date.split('-').pop()!=firstDay){
     for(let dayIndex=data.data.length-1;dayIndex>0;dayIndex--){
      data.data[dayIndex].date=data.data[dayIndex-1].date;
     }
    }
  }
  return (!nightForecast&&firstDay==today?`            
        <div id="content">
            <div class="TodayColumn">
                <h3> ${firstDay==today?'今天':firstDayText}白天 </h3>
                <img class="image" style=height:50px;width:50px src="${imgSrc(data.data[0].wea_day_img)}">
                <p>${data.data[0].wea_day}　${data.data[0].tem1??data.data[0].tem_day}°Ｃ</p>
            </div>

            `:'')+`<div class="TonightColumn">
                <h3> ${firstDay==today?'今天':firstDayText}夜间 </h3>
                <img class="img" style=height:50px;width:50px src="${imgSrc(data.data[0].wea_night_img??data.data[0].wea_img)}">
                <p>${data.data[0].wea_night??data.data[0].wea}　${data.data[0].tem2??data.data[0].tem_night}°Ｃ</p>      
            </div>
        </div>
            <div id="container">${daysContent(data.data.slice(1,7))}
            </div>
            <div style=padding-top:10px>${hrsContent(data.data[0],data.data[1],currTime)}
            </div>`
}
function daysContent(days){
  ret=''
  for(let day of days){
    let dayText
    if(day.day){dayText=day.day.replace('（','<br>').replace('）','<br>')}
    else if(day.date){dayText=(new Date(day.date).toLocaleString('zh-cn',{day:'2-digit',timeZone:'Etc/GMT-8'})+new Date(day.date).toLocaleString('zh-cn',{weekday:'long',timeZone:'Etc/GMT-8'})).replace('日星期','日<br>星期')+'<br>';}
    ret+=`
        <div class="day" >
            <p class="periodTitle"><strong>${dayText}白天 </strong></p>
            <img class="img" style=height:50px;width:50px src="${imgSrc(day.wea_day_img)}" title="${day.wea_day}">
            <p>  ${day.tem1??day.tem_day}°Ｃ </p>
        </div>
        <div class="night" >
            <p class="periodTitle"><strong>${dayText}夜间 </strong></p>
            <img class="img" style=height:50px;width:50px src="${imgSrc(day.wea_night_img)}" title="${day.wea_night}">
            <p>  ${day.tem2??day.tem_night}°Ｃ </p>
        </div>`
  }
  return ret
}
function isDaytime(hourNumber,sunrise,sunset){
  return hourNumber>=parseInt(sunrise.substr(0,2))+Math.round(parseFloat(sunrise.substr(3))/60.0)&&hourNumber<parseInt(sunset.substr(0,2))+Math.round(parseFloat(sunset.substr(3))/60.0)
}
function hrsContent(today,nextDay,time){
  ret=''
  hrs=today.hours;
  startHr=Math.round((time.getUTCHours()+8)%24+time.getUTCMinutes()/60.0+(time.getUTCSeconds()+time.getUTCMilliseconds()/1000.0)/3600.0);
  if(startHr==24){startHr=0}
  hrsCount=0;
  for(let i=0;i<hrs.length;i++){
    hr=hrs[i];
    hrNum=parseInt(hr.hours.substr(0,2));
    if(hrsCount==0&&(hrNum-startHr<0&&hrNum-startHr>-12||hrNum-startHr>12)){
        continue
    }
    ret+=`
        <div class="${isDaytime(hrNum,today.sunrise,today.sunset)?'day':'night'}" >
            <table style=width:100%;text-align:center><tr><td style=width:30%><strong>${hr.hours}</strong></td>
            <td style=width:30%><img class="img" style=height:25px;width:25px src="${imgSrc(hr.wea_img)}"></td>
            <td style=width:40%>${hr.tem}°Ｃ</td></tr></table>
        </div>`
    ++hrsCount;
  }
  if(hrsCount<24){
    nextDayHrs=nextDay.hours;
    for(let i=0;i<nextDayHrs.length;i++){
        hr=nextDayHrs[i];
        hrNum=parseInt(hr.hours.substr(0,2));
        ret+=`
            <div class="${isDaytime(hrNum,nextDay.sunrise,today.sunset)?'day':'night'}" >
                <table style=width:100%;text-align:center><tr><td style=width:30%><strong>${hr.hours}</strong></td>
                <td style=width:30%><img class="img" style=height:25px;width:25px src="${imgSrc(hr.wea_img)}"></td>
                <td style=width:40%>${hr.tem}°Ｃ</td></tr></table>
            </div>`
        if(++hrsCount==24){
            break
        }
    }
  }
  return ret
}
</script>
<script>
const stationsInfo={}
const alternativeStationsForSomeMajorCities={乌鲁木齐市:51369,西安市:57131,成都市:56286,天津市:54527}//米泉，泾河，龙泉驿，西青
async function getStationInfo(cityInfo){
  if(cityInfo.省==='TW'||cityInfo.市==='金门县'){
    return getStationInfoFromCwa(cityInfo.市)
  }
  const provinceCode=(cityInfo.区划??cityIds.slice(0,cityIds.indexOf(cityInfo)).filter(c=>c.省===cityInfo.省).findLast(c=>c.区划)?.区划)?.substr(0,2)
  if(!provinceCode){return}
  const stationCode=cityInfo.站号
  let provinceStations
  if(!(provinceStations=stationsInfo[provinceCode])){
    provinceStations=stationsInfo[provinceCode]=(await getStationsInfo(provinceCode)).stations
  }
  if(!provinceStations){return}
  const candidateStations = provinceStations.filter(s=>s.StationID===stationCode||s.StationID==alternativeStationsForSomeMajorCities[cityInfo.市]);
  let stationInfo
  for(let s of candidateStations){
    if(s.StationID===stationCode){stationInfo=s;break}
    if(!stationInfo&&s.StationID==alternativeStationsForSomeMajorCities[cityInfo.市]){stationInfo=s}
  }
  return{高度:stationInfo?.V07001??stationInfo?.V07002}
}
cwaStationsInfo=undefined,cwaUnattendedStations=undefined
async function getStationInfoFromCwa(cityName){
  const citiesToAltNames={金门:'金門',台北:'臺北',台中:'臺中',台南:'臺南',桃园:'桃園',
      嘉义:'嘉義',屏东:'屏東',宜兰:'宜蘭',台东:'臺東',云林:'斗六',花莲:'花蓮'}
  const cityShortName=cityName.substr(0,cityName.length-1)
  let cityStationName
  if(!(cityStationName=citiesToAltNames[cityShortName])){
    cityStationName=cityName==='嘉义县'||cityName==='新竹县'?cityName:cityShortName
  }
  let provinceStations
  if(!cwaStationsInfo){
    cwaStationsInfo=await(await fetch('https://opendata.cwa.gov.tw/api/v1/rest/datastore/C-B0074-001?Authorization=CWB-98146E15-9BB4-46EA-95CD-31AFE31B7225&status=%E7%8F%BE%E5%AD%98%E6%B8%AC%E7%AB%99')).json()
  }
  let foundStation
  if(foundStation=cwaStationsInfo.records.data.stationStatus.station.find(s=>s.StationName===cityStationName)){
    return{高度:foundStation.StationAltitude}
  }
  if(!cwaUnattendedStations){
    cwaUnattendedStations=await(await fetch('https://opendata.cwa.gov.tw/api/v1/rest/datastore/C-B0074-002?Authorization=CWB-98146E15-9BB4-46EA-95CD-31AFE31B7225&status=%E7%8F%BE%E5%AD%98%E6%B8%AC%E7%AB%99')).json()
  }
  if(foundStation=cwaUnattendedStations.records.data.stationStatus.station.find(s=>s.StationName===cityStationName)){
    return{高度:foundStation.StationAltitude}
  }
}
async function getStationsInfo(provinceCode){
  const res=(await StationsJson()).filter(sInfo=>sInfo.Provincecode===`${provinceCode}0`)//await get(`https://data.cma.cn/dataService/ajax/act/getStationsByProvinceID/dataCode/A.0012.0001.html?provinceID=${provinceCode}0`,
            //          {headers:{"User-Agent":"."}})
  for(let stationInfo of res){
    let stationId=stationInfo.code,stationElev=stationInfo.height
    for(let objKey in stationInfo){
      delete stationInfo[objKey]
    }
    stationInfo.StationID=stationId
    stationInfo.V07001=stationElev
  }
  return {stations:res}
}
var stationsJson
StationsJson=async()=>stationsJson??(stationsJson=await(await fetch('json/zdlb.json')).json())
</script>
<script>
function findCity(){
  fwcToHwc(textInput)
  text=textInput.value;
  result=document.getElementById('result');
  result.innerHTML='';result.nextElementSibling.className='sizeNormal';
  text=text.trim();
  if(text.length<2){
    return
  }
  type=undefined;
  if(/^\d+$/.test(text)){
    if((text.length==3||text.length==4)&&text[0]=='0'){
        type='区号'
    }else if(text.length==5&&(text[0]=='4'||text[0]=='5')){
        type='站号'
    }else if(text.length==6){
        if(text[0]=='0'||text[0]=='7'||text[0]=='8'){
            type='邮编'
        }
        else if(text[0]!='9'){
            type='区划'
        }
    }
  }else if(text.length==2&&pZhToEn[text[0]]&&/^[A-Za-z]+$/.test(text[1])){
    type='车牌'
  }else if(/^[\u4e00-\u9fa5]+$/i.test(text)){
    type='市'
  }else if(/^[A-Za-z']+$/.test(text)){
    text=text.toLowerCase().replaceAll('\'','');
    type='拼音'
  }

  var foundCity;
  var foundCities=[];
  var foundQuhuaCity;
  var foundQuhua;
  var carIdOfProvince;
  for(let i=0;i<cityIds.length;i++){
    c=cityIds[i];
    switch(type){
      case undefined:if(typeof(c.非汉字别名)=='string'&&c.非汉字别名.startsWith(text)||c.非汉字别名 instanceof Array&&c.非汉字别名.some(t=>t.startsWith(text))){foundCities.push(c);foundCity=true;}break;
      case '拼音':if(shortPinyinMatch(c.拼音,text)){foundCities.push(c)}break;
      case '市':if(c[type].startsWith(text)||c.别名?.startsWith(text)){foundCities.push(c);}break;
      case '区号':if(c[type]==text.substr(1)){foundCities.push(c);foundCity=true;}break;
      case '邮编':if(checkYouBianIn(c[type],text.substr(0,4))){foundCities.push(c);}break;
      case '区划':if(checkYouBianIn(c.邮编,text.substr(0,4))){foundCities.push(c);}
                  else if(!foundQuhua){
                    if(c[type]==text){
                      foundQuhua=true;
                      foundCities.push(c);
                    }
                    else{
                      quhuaInCity=checkQuhuaInCity(c[type],text);
                      if(!foundQuhuaCity){
                        if(quhuaInCity){foundQuhuaCity=c;}
                      }else if(!quhuaInCity){
                        foundQuhua=true;
                        foundCities.push(foundQuhuaCity);
                      }
                    }
                  }
                  break;
      case '车牌':if(c.省==pZhToEn[text[0]]){
        if(!carIdOfProvince){carIdOfProvince=c}
        if(carIdOfProvince&&c[type]==text[1].toUpperCase()){
          foundCities.push(c);foundCity=true;
        }
      }else if(carIdOfProvince&&c.省!=carIdOfProvince.省){
        foundCity=true;
        foundCities.push(carIdOfProvince);
      }break;
      default:if(c[type]==text){foundCities.push(c);foundCity=true;}break;
    }
    if(foundCity){
        break;
    }
  }

  function checkYouBianIn(youbianList,youbian){
    return youbianList&&(youbianList.includes(youbian)||youbianList[0].endsWith('000')&&youbian.substr(0,3)==youbianList[0].substr(0,3));
  }

  function checkQuhuaInCity(target,source){
    if(!target){return}
    sourceStart=source.substr(0,2);
    if(sourceStart=='11'||sourceStart=='12'||sourceStart=='31'||sourceStart=='50'){//直辖市
        cityDigits=3;
        countiesStart=200;
    }else{
        cityDigits=4;
        countiesStart=20;
    }
    sourceMiddle=source.substr(2,cityDigits-2);
    return target.substr(0,cityDigits)==source.substr(0,cityDigits)
        &&(parseInt(sourceMiddle)<=20||sourceMiddle[0]=='5')
        &&parseInt(source.substr(cityDigits))<=countiesStart;
  }

  function shortPinyinMatch(target,source){
    //const InitialOnlyLetters=['b','p','m','f','d','t','l','k','z','c','s','r','y','w']
    if(source===target){return true}
    if(target.startsWith(source.charAt(0))){
      lastIndex=0;
      for(let letterIndex=1;letterIndex<source.length;letterIndex++){
          let tempIndex,letterBeforeInSource,letterBeforeInTarget
          if((tempIndex=target.substr(lastIndex+1).indexOf(source.charAt(letterIndex)))>-1
              &&!(source.charAt(letterIndex)==='h'&&!compareLetterBeforeH(source.charAt(letterIndex-1),target.charAt(lastIndex+tempIndex)))){
            lastIndex+=tempIndex+1
          }else{
            return false
          }
      }
      return true
    }

    function compareLetterBeforeH(source,target){
      const LettersCombineWithH=['z','c','s']
      return source===target&&(LettersCombineWithH.includes(source))
              ||!LettersCombineWithH.includes(source)&&!LettersCombineWithH.includes(target)
    }
  }

  if(foundCities.length>0){
    textInput.value=foundCities[0].市
    if(foundCities.length>1){
    result.innerHTML='您要找的是不是：'+foundCities.slice(1).map(c=>c.市);result.nextElementSibling.className='sizeSmaller';}
    provinceSel.value=foundCities[0].省
    onOperationAreaChange(foundCities[0].省)
    for(let prefecture of citiesOfProvince){
      if(prefecture.includes(foundCities[0])){
        if(citiesOfProvince.length>1&&prefectureSel.value!==(prefectureSel.value=prefecture[0].市)){
          onBaseMapChange()
        }
        citySel.value=foundCities[0].市
        break
      }
    }
    populateWeather(foundCities[0])
    return
  }
  result.innerHTML='对不起，未找到您查询的城市天气。';result.nextElementSibling.className='sizeSmaller';
  textInput.select()
}

function fwcToHwc(textWrapper){
  textWrapper.value=textWrapper.value.replaceAll('　',' ')
  for(let strIdx=0;strIdx<textWrapper.value.length;strIdx++){
    if(textWrapper.value.charCodeAt(strIdx)>65280&&textWrapper.value.charCodeAt(strIdx)<65375){
      textWrapper.value=textWrapper.value.replace(textWrapper.value[strIdx],String.fromCharCode(textWrapper.value.charCodeAt(strIdx)-65248))
    }
  }
}  

textInput.value=localStorage.getItem(localStorageKey);
findCity();
let 世界气象组织站点信息
世界气象组织=async()=>世界气象组织站点信息??(世界气象组织站点信息=await(await fetch('json/wmo-zd.json')).json())
let mapElevations
MapElevations=async()=>mapElevations??(mapElevations=await(await fetch('json/dthb.json')).json())
weatherIconStylePicture=false
document.getElementById(weatherIconStylePicture?'pic':'symbol').checked=true;
function populateWeather(c){
    if(c==currentCity){
        textInput.nextElementSibling.style.display='inline'
        return
    }
    currentCity=c;
    let city=currentCity;
    localStorage.setItem(localStorageKey, city.市)
    document.title=city.市+'天气';
    apiPlace=document.getElementById('api');
    apiPlace.innerHTML='';
    nmcArea=document.getElementById('nmcarea');
    if(city.天气){
        (async()=>{
         const cityWeatherId=`101${city.天气}`
         function parseMultiJson(txtData){
            const result={}
            let lastVar;
            for(let searchPosition=0;searchPosition<txtData.length;){
              let firstVar=txtData.indexOf('var',searchPosition)
              if(firstVar===-1){
                firstVar=txtData.length
              }
              searchPosition=firstVar+'var'.length
              let textIndex
              for(textIndex=firstVar-1;textIndex>=0&&/\s/.test(txtData[textIndex]);textIndex--){}
              if(textIndex<0||txtData[textIndex]===';'||firstVar===txtData.length){
                if(lastVar!==undefined){
                  const afterLastVar=lastVar+'var'.length
                  const firstEqualSign=txtData.indexOf('=',afterLastVar)
                  result[txtData.substring(afterLastVar,firstEqualSign).trim()]=JSON.parse(txtData.substring(firstEqualSign+1,firstVar===txtData.length&&txtData[textIndex]!==';'&&!txtData.substr(textIndex+1).trim()?undefined:textIndex))
                }
                lastVar=firstVar;
              }
            }
            return result
         }
         let txtData=await get(`https://d1.weather.com.cn/weixinfc/${cityWeatherId}.html`,{"headers": {
                  "Referer": "http://www.weather.com.cn/", "User-Agent": "."
                }})
         const weatherRawData=parseMultiJson(txtData)
         const cityWeather={cityid:cityWeatherId,data:[]}
         let nightForecast
         if(city.省==='TW'){
          const weather7D=await(await fetch(`https://devapi.qweather.com/v7/weather/7d?location=${cityWeatherId}&key=9b92ccf557b64d788a5bbea9f5a37da1`)).json()
          const weather24H=await(await fetch(`https://devapi.qweather.com/v7/weather/24h?location=${cityWeatherId}&key=9b92ccf557b64d788a5bbea9f5a37da1`)).json() 
          const TCToSC=s=>s.replaceAll('陰','阴').replaceAll('雲','云').replaceAll('霧','雾').replaceAll('塵','尘').replaceAll('雨夾雪','雨夹雪').replaceAll('凍','冻')
          let firstDayDate
          for(let day of weather7D.daily){
            let dateOfDay=new Date(day.fxDate)
            if(!firstDayDate){firstDayDate=dateOfDay}
            day.textDay=TCToSC(day.textDay)
            day.textNight=TCToSC(day.textNight)
            cityWeather.data.push({
              wea_day:day.textDay,
              wea_night:day.textNight,
              wea_day_img:weatherTextToIcon(day.textDay),
              wea_night_img:weatherTextToIcon(day.textNight),
              tem1:day.tempMax,
              tem2:day.tempMin,
              day:`${dateOfDay.toLocaleDateString('zh-cn',{day:'2-digit',timeZone:'Etc/GMT-8'})}（${dateOfDay.toLocaleDateString('zh-cn',{weekday:'long',timeZone:'Etc/GMT-8'})}）`,
              sunrise:day.sunrise,
              sunset:day.sunset
            })
          }
          const forcastInitDate=weatherRawData.fc.f0.substr(0,8)
          if(firstDayDate-new Date(`${forcastInitDate.substr(0,4)}-${forcastInitDate.substr(4,2)}-${forcastInitDate.substr(6,2)}`)===86400000){
            const citiesToHuafengCodes={台北:'5078',台中:'5040',高雄:'3812',台南:'4999',桃园:'5125',新竹:'3567',嘉义:'2591',彰化:'2562',屏东:'4385',宜兰:'6306',苗栗:'4099',云林:'6333',南投:'5040',台东:'5079',花莲:'3570'}
            const yesterdayWeather=(await get(`https://m.weathercn.com/dailyforecastajax.do?day=1&id=31${citiesToHuafengCodes[city.市.substr(0,2)]}`,{"headers": {
                  "Referer": "https://m.weathercn.com/", "User-Agent": "."
                }})).cf
            if(yesterdayWeather.date.replace('/','')===forcastInitDate.substr(4,4)){
            nightForecast=true
            const day0={}
            day0.wea_night=qxbm[yesterdayWeather.wan_cma_weather]
            day0.wea_night_img=weatherTextToIcon(qxbm[yesterdayWeather.wan_cma_weather])
            day0.tem2=yesterdayWeather.wan_temperature
            day0.sunrise=cityWeather.data[0].sunrise
            day0.sunset=cityWeather.data[0].sunset
            cityWeather.data.splice(0,0,day0)
     for(let dayIndex=0;dayIndex<cityWeather.data.length-1;dayIndex++){
      cityWeather.data[dayIndex].day=cityWeather.data[dayIndex+1].day;
     }
            }
          }else{
            nightForecast=weatherRawData.fc.f0.substr(8,2)>16
          }
          cityWeather.data[0].hours=[]
          for(let hr of weather24H.hourly){
            const hour=hr.fxTime.substr(11,2)
            hr.text=TCToSC(hr.text)
            cityWeather.data[0].hours.push({
              wea:hr.text,
              wea_img:weatherTextToIcon(hr.text),
              tem:hr.temp,
              hours:hour+'时'
            })
          }
         }else{
          /*const apiKeys=['appid=43656176&appsecret=I42og6Lm','appid=92886741&appsecret=56TA8An6',
              'appid=83815731&appsecret=x8jaKkps','appid=85841439&appsecret=EKCDLT4I']
          let apiKey=apiKeys[0]
          let weather7d=await(
              await fetch(`http://v1.yiketianqi.com/free/week?unescape=1&${apiKey}&cityid=${cityWeatherId}`)
            ).json()
          if(weather7d.errmsg&&weather7d.errmsg.includes('权限已过期')){
            await fetch('http://www.tianqiapi.com/user/updateregtime', {
              headers: {
                'Cookie': 'tianqiapi_jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6IjEwMTg4NSIsImlhdCI6MTcyOTM5NTU1NSwibmJmIjoxNzI5Mzk1NTU1LCJleHAiOjE3MzAwMDAzNTV9.fh4TC7CUyP7gFVixerL2o6BLkT_4v4umUDc7eKk4_hc'
              }
            });
          apiKey=apiKeys[1]*/
          txtData=await get(`https://d1.weather.com.cn/wap_40d/${cityWeatherId}.html`,{"headers": {
                  "Referer": "http://www.weather.com.cn/", "User-Agent": "."
                }})
          const weatherData=parseMultiJson(txtData)
          for(let day of weatherRawData.fc.f.slice(1)){
            let [m,d]=day.fi.split('/')
            let w,foundDay
            w=day.fj.startsWith('星期')?day.fj:(foundDay=weatherData.fc40.find(daily=>daily['009'].substr(4,2)==parseInt(m)&&daily['009'].substr(6,2)==parseInt(d)))?foundDay['016']:''
            if(d<10){d='0'+d}
            cityWeather.data.push({
              wea_day:qxbm[day.fa],
              wea_night:qxbm[day.fb],
              wea_day_img:weatherTextToIcon(qxbm[day.fa]),
              wea_night_img:weatherTextToIcon(qxbm[day.fb]),
              tem1:day.fc,
              tem2:day.fd,
              day:`${d}日（${w}）`
            })
          }
          nightForecast=weatherRawData.fc.f0.substr(8,2)>16
          cityWeather.data[0].sunrise=weatherData.fc40[0]['014']
          cityWeather.data[0].sunset=weatherData.fc40[0]['015']
          cityWeather.data[0].hours=[]
          for(let hr of weatherData.fc1h_24.jh.slice(0,24)){
            const hour=hr.jf.substr(hr.jf.length-4,2)
            cityWeather.data[0].hours.push({
              wea:qxbm[hr.ja],
              wea_img:weatherTextToIcon(qxbm[hr.ja]),
              tem:hr.jb,
              hours:hour+'时'
            })
          }
         }
         if(cityWeather.cityid===cityWeatherId){
            apiPlace.innerHTML=weatherContent(cityWeather,new Date,nightForecast)
            if(weatherIconStylePicture){swapImages(apiPlace)}
         }
        })()
    }
    iFrameParent = nmcArea.parentNode;
    nmcArea.remove();
    nmcArea.setAttribute('src',`http://m.nmc.cn/publish/forecast/A${city.省}/${city.拼音}.html`)
    nmcArea.setAttribute('style','height:100%;width:100%;display:block')
    iFrameParent.appendChild(nmcArea);
    (async()=>{
      const elevationDisplay=textInput.nextElementSibling;
      elevationDisplay.innerHTML=''
      let elevation=(await getStationInfo(city))?.高度
      if(city.站号&&city.站号!='59997'&&!elevation){
        elevation=(await 世界气象组织()).find(record=>record.attributes.station_id==city.站号)?.attributes.ELEVATION
        if(elevation==-999){elevation=undefined}
      }
      let elevationDescription=''
      if(city.站号&&!elevation){
        elevation=(await MapElevations()).find(record=>record.市===city.市)?.高
        elevationDescription='～ '
      }
      if(elevation){
        elevationDisplay.innerHTML=elevationDescription+Math.round(elevation)+' ｍ'
        elevationDisplay.style.display='inline'
        elevationDisplay.style.left=`${10+textInput.value.length*parseFloat(getComputedStyle(textInput, null).getPropertyValue('font-size')+2)}px`
      }
    })();
}
</script>
<link rel="stylesheet" href="css/TodayWeatherSS.css" />
<link rel="stylesheet" href="css/DayWeatherSS.css" />
<style scoped>
body{
    background-color:#262836;
    
}
label{
    color: lightgray;
}
#head{
    color: lightgray;
}

#input{
    padding:10px;
}

/*.input{
    padding-right: 10px;
}*/

#container{
    columns: 12;
    column-gap: 0px;
    /*padding:10px;*/
    padding-top: 10px;
    
    /* text-align: right;
    padding-right: 0%;*/
} 

#container p{
    margin-block: 0;
    margin-block-start: 0;
    margin-block-end: 0;
} 
.item{
    /*width: 150px;
    height: 200px;*/
    display: inline-block;
}

</style>
<!--
https://d1.weather.com.cn/wap_40d/${cityWeatherId}.html               【更新较慢】４０天预报（含日出日落）＋７天生活指数＋２天逐小时预报
https://d1.weather.com.cn/wap_180h/${cityWeatherId}.html              ３天逐小时预报
https://d1.weather.com.cn/wap40/${cityWeatherId}.html                 ４０天预报
https://d1.weather.com.cn/weixinfc/${cityWeatherId}.html              昨日天气＋１５天预报
https://d1.weather.com.cn/weather_index/${cityWeatherId}.html         今日天气＋预警＋实况＋生活指数＋５天预报
https://d1.weather.com.cn/dingzhi/${cityWeatherId}.html               今日天气＋预警
https://j.i8tq.com/history/stationData/${cityWeatherId}.json          气候数据
https://d1.weather.com.cn/aqi_7d/XiangJiAqiFc5d/${cityWeatherId}.html 昨天＋５天空气质量
https://e.weather.com.cn/p/site/aqifc1h?areaid=${cityWeatherId}       空气质量小时预报
-->
<script>
  var qxbm = {
    "00": "晴",
    "01": "多云",
    "02": "阴",
    "03": "阵雨",
    "04": "雷阵雨",
    "05": "雷阵雨伴有冰雹",
    "06": "雨夹雪",
    "07": "小雨",
    "08": "中雨",
    "09": "大雨",
    "10": "暴雨",
    "11": "大暴雨",
    "12": "特大暴雨",
    "13": "阵雪",
    "14": "小雪",
    "15": "中雪",
    "16": "大雪",
    "17": "暴雪",
    "18": "雾",
    "19": "冻雨",
    "20": "沙尘暴",
    "21": "小到中雨",
    "22": "中到大雨",
    "23": "大到暴雨",
    "24": "暴雨到大暴雨",
    "25": "大暴雨到特大暴雨",
    "26": "小到中雪",
    "27": "中到大雪",
    "28": "大到暴雪",
    "29": "浮尘",
    "30": "扬沙",
    "31": "强沙尘暴",
    "53": "霾",
    "99": "无",
    "32": "浓雾",
    "49": "强浓雾",
    "54": "中度霾",
    "55": "重度霾",
    "56": "严重霾",
    "57": "大雾",
    "58": "特强浓雾",
    "301": "雨",
    "302": "雪"
  };
  var fxbm = {
    "0": "微风",
    "1": "东北风",
    "2": "东风",
    "3": "东南风",
    "4": "南风",
    "5": "西南风",
    "6": "西风",
    "7": "西北风",
    "8": "北风",
    "9": "旋转风"
  };
  var flbm = {
    "0": "<3级",
    "1": "3-4级",
    "2": "4-5级",
    "3": "5-6级",
    "4": "6-7级",
    "5": "7-8级",
    "6": "8-9级",
    "7": "9-10级",
    "8": "10-11级",
    "9": "11-12级"
  };
</script>
<script>
//`https://i.i8tq.com/todayDetail/d{}.png`
//const keywordsToWeatherIcons={晴:'00',多云:'01',阴:'02',雨:'03',雪:'13',雷阵雨:'04',雨夹雪:'06',雾:'18',霾:'53',沙尘:'20'}
const keywordsToWeatherIcons={晴:'qing',多云:'yun',阴:'yin',雨:'yu',雪:'xue',雷阵雨:'lei',雨夹雪:'yujiaxue',雾:'wu',霾:'mai',沙尘:'shachen'}
function weatherTextToIcon(wea,method){
        let keyword=wea
        if(wea.includes('雨夹雪')||wea.includes('冻雨')){
            keyword = '雨夹雪'
        }else if(wea.includes('雪')){
            keyword = '雪'
        }else if(wea.includes('雷')){
            keyword = '雷阵雨'
        }else if(wea.includes('雨')){
            keyword = '雨'
        }else if(wea.includes('沙')||wea.includes('尘')){
            keyword = '沙尘'
        }else if(wea.includes('霾')){
            keyword = '霾'
        }else if(wea.includes('雾')){
            keyword = '雾'
        }else if(wea.includes('晴')){
            keyword = '晴'
        }else if(wea.includes('多云')){
            keyword = '多云'
        }else if(wea.includes('阴')){
            keyword = '阴'
        }
        return keywordsToWeatherIcons[keyword]
}
// https://wx.weather.com.cn/jsyb/assets/images/sunny_bg.a7341.jpg
</script>
<script>
const weatherTextsToImagesNight={
wu:'<div class=imgOut><img class="image night" src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/foggy_bg.3f358.jpg"></div>',
yun:'<div class=imgOut><img class="image night" style=transform:translate(-50%,-45%) src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/cloudy_bg.942a0.jpg"></div>',
yin:'<div class=imgOut><img class="image night" src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/overcast_bg.0916b.jpg"></div>',
yu:'<div class=imgOut><img class="image" style="width: 224%;translate: -27.68% -17.5737%" src="https://wx.weather.com.cn/jsyb/assets/images/rain_bg.e0199.jpg"><img class="image night" style=opacity:0.25 src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"></div>',
shachen:'<div class=imgOut><img class="image" style="translate:0 -18.254%" src="https://wx.weather.com.cn/jsyb/assets/images/duststorm_bg.3d945.jpg"><img class="image night" style=opacity:0.25 src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"></div>',
xue:'<div class=imgOut><img class="image" style="width: 224%;translate: -27.68% -17.5737%" src="https://wx.weather.com.cn/jsyb/assets/images/snow_bg.d4410.jpg"><img class="image night" style=opacity:0.25 src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"></div>',
qing:'<div class=imgOut><img class="image night" style=opacity:0.75;transform:translate(-50%,-45%) src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/sunny_bg.a7341.jpg"></div>',
lei:'<div class=imgOut><img class="image night" src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/thunder_bg.1339b.jpg"></div>',
mai:'<div class=imgOut><img class="image" style="translate:0 -36.5%" src="https://wx.weather.com.cn/jsyb/assets/images/haze_bg.b6b39.jpg"><img class="image night" style=opacity:0.25 src="https://wx.weather.com.cn/jsyb/assets/images/night_bg.74ced.jpg"></div>'
}
const weatherTextsToImages={
wu:'<div class=imgOut><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/foggy_bg.3f358.jpg"></div>',
yun:'<div class=imgOut><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/cloudy_bg.942a0.jpg"></div>',
yin:'<div class=imgOut><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/overcast_bg.0916b.jpg"></div>',
yu:'<div class=imgOut><img class="image" style="width: 224%;translate: -27.68% -17.5737%" src="https://wx.weather.com.cn/jsyb/assets/images/rain_bg.e0199.jpg"></div>',
shachen:'<div class=imgOut><img class="image" style="translate:0 -18.254%" src="https://wx.weather.com.cn/jsyb/assets/images/duststorm_bg.3d945.jpg"></div>',
xue:'<div class=imgOut><img class="image" style="width: 224%;translate: -27.68% -17.5737%" src="https://wx.weather.com.cn/jsyb/assets/images/snow_bg.d4410.jpg"></div>',
qing:'<div class=imgOut><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/sunny_bg.a7341.jpg"></div>',
lei:'<div class=imgOut><img class="image" src="https://wx.weather.com.cn/jsyb/assets/images/thunder_bg.1339b.jpg"></div>',
mai:'<div class=imgOut><img class="image" style="translate:0 -36.5%" src="https://wx.weather.com.cn/jsyb/assets/images/haze_bg.b6b39.jpg"></div>'
}
function swapImages(section){
const allImages=Array.from(section.getElementsByTagName('img'))
for(let img of allImages){
  const imgOriginalSrc=img.getAttribute('src')
  const imgOriginalSize=parseInt(img.style.height)
  const weatherContainer=img.parentNode.tagName.toLowerCase()==='td'?img.parentNode.parentNode.parentNode.parentNode.parentNode:img.parentNode
  const isNight=weatherContainer.classList.contains('night')||weatherContainer.classList.contains('TonightColumn')
  let weatherType=imgOriginalSrc.split('/').pop().split('.')[0]
  if(weatherType==='yujiaxue'){weatherType='xue'}
  const imgDescription=img.getAttribute('title')
  const targetImage=(isNight?weatherTextsToImagesNight:weatherTextsToImages)[weatherType]
  let imgNewSize=weatherContainer.tagName==='td'?50:weatherContainer.classList.contains('night')?56:100
  img.outerHTML=targetImage
  if(imgDescription){weatherContainer.getElementsByTagName('img')[0].parentNode.setAttribute('title',imgDescription)}
}
}
</script>
<style>.image{width:100%}img.night{opacity:0.5;position:absolute;top:50%;left:50%;transform:translate(-50%,-55%)}.imgOut{display:inline-block;overflow:hidden;position:relative}
.TodayColumn .imgOut,.TonightColumn .imgOut{height:100px;width:100px}
#container .imgOut{height:56px;width:56px}
td .imgOut{height:50px;width:50px}
/*.components-index.night_bg {
    background-image: url(../images/night_bg.74ced.jpg);
    transition: all 1s linear
}

.components-index.foggy_bg {
    background-image: url(../images/foggy_bg.3f358.jpg);
    transition: all 1s linear
}

.components-index.cloudy_bg {
    background-image: url(../images/cloudy_bg.942a0.jpg);
    transition: all 1s linear
}

.components-index.overcast_bg {
    background-image: url(../images/overcast_bg.0916b.jpg);
    transition: all 1s linear
}

.components-index.rain_bg {
    background-image: url(../images/rain_bg.e0199.jpg);
    transition: all 1s linear
}

.components-index.duststorm_bg {
    background-image: url(../images/duststorm_bg.3d945.jpg);
    transition: all 1s linear
}

.components-index.snow_bg {
    background-image: url(../images/snow_bg.d4410.jpg);
    transition: all 1s linear
}

.components-index.sunny_bg {
    background-image: url(../images/sunny_bg.a7341.jpg);
    transition: all 1s linear
}

.components-index.thunder_bg {
    background-image: url(../images/thunder_bg.1339b.jpg);
    transition: all 1s linear
}

.components-index.haze_bg {
    background-image: url(../images/haze_bg.b6b39.jpg);
    transition: all 1s linear
}*/
</style>