.container {
    background-color: #464646;
    padding: 0 10px 10px;
    border: 10px;
    width: fit-content;
    height:fit-content;
    color: lightgray;
    display: block;
    overflow: hidden;
}
.head{
    text-align: center;
    
}
#content{
    columns: 2;
    column-gap: 0px;
}
.TodayColumn{
    /* display: inline; */
    padding: 15px;
    height: 350px;
    background-color: darkcyan;
    text-align: center;
    text-align: center;
    font-size: 16pt;
    overflow: auto;
}
.TonightColumn{
    padding:15px;
    height: 350px;
    background-color: darkslategray;
    text-align: center;
    font-size: 16pt;
    /* display: inline; */
    overflow: auto;
}
.img{
    border: #ffffff;
}
.head-expand{ line-height: 46.16px; }
.compact{ padding: 5.5px 15px; }